doctype html
html
  head
    title Baby World
    link(rel='stylesheet', href='../app.css', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body.body-error
        .error
            h1 404
            p 
                | Please go 
                a(href='/') home 
                | and register/login to access this page