extends layout
block content
    .form-section
        h2 Leave a review
        form.form(method="post")
            .input-box
                label(for="name") Your Name:
                input(name="name", type="text", required)
            .content
                label(for="content") Write Review:
                input(name="content", type="text", required)
            button.button(type="submit") Leave review