extends layout
block content
        .contact-section
            h2 Contact
            form.form
                .id
                    .name
                        label(for='name') Name
                        input#name(type='text', name='name' required)
                    .email
                        label(for='email') Email
                        input#email(type='text', name='email' required)
                .subject
                    label(for='subject') Subject
                    input#subject(type='text', name='subject' required)
                .content
                    label(for='content') Message
                    textarea(name='content', id='', cols='30', rows='10' required)
                    button.button(type='submit') Submit