extends layout
block content
    .form-section
        h2 Welcome! Lets Create A Special Offer
        form.form(method="post")
            .input-box
                label(for="name") Product Name:
                input(name="name", type="text", placeholder="Please name the product")
            .input-box
                label(for="brand") Product Brand:
                input(name="brand", type="text", placeholder="Please name the product brand")
            .input-box
                label(for="category") Product Category:
                input(name="category", type="text", placeholder="Please choose the category for product")
            .input-box
                label(for="image") Product Image:
                input(name="image", type="text", placeholder="Please add the product image")
            .input-box
                label(for="price") Product Price:
                input(name="price", type="text", placeholder="Please set the price for product")
            .input-box
                label(for="offer") Special Offer Price:
                input(name="offer", type="text", placeholder="Please set the special offer price for product")
            button.button(type="submit") Create product