extends layout
block content
    .form-section
        h2 Welcome lets edit a review
        form.form(method="post")
              each review in indOne
                  .input-box
                    label(for="name") Your name:
                    input(name="name", type="text", value=review.name required)
                  .content
                    label(for="content") Your review:
                    input(name="content", type="text", value=review.content required)
                  button.button(type="submit") Edit this review