<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
        <link rel="stylesheet" href="app.css" type="text/css">
    </head>
    <body>
        <div class="header">
            <div class="imhold">
                <img src="/logo.png" id="theLogo" class="logoIm" alt="logo">
            </div>
            <div class="navhold">
                <div class="topnav">
                    <a href="/">Home</a>
                    <a href="#">Products</a>
                    <a href="#">Add New Product</a>
                </div>
            </div>
        </div>
        
        <h1>Look I am index page</h1>
    </body>
</html>

