extends layout
block content
    .row
      .flex-container
        .card
          h2.category-title Cot & Cot Beds
          img.product-image(src='cot.jpg')
        .card
          h2.category-title Swings & Bouncers
          img.product-image(src='swing.jpg')
        .card
          h2.category-title Travel System
          img.product-image(src='cosatto.jpg')
        .card
          h2.category-title Feeding
          img.product-image(src='prepMachine.jpg')
        .card
          h2.category-title Puschairs & Strollers
          img.product-image(src='maclaren.jpg')
        .card
          h2.category-title Bathing and Changing
          img.product-image(src='changer.jpg')
          