extends layout
block content
    .row
      .flex-container
        .card
          a(href='/category/Cot & Cot Beds')
            h2.category-title Cot & Cot Beds
          img.product-image(src='cot.jpg')
        .card
          a(href='/category/Swings & Bouncers')
            h2.category-title Swings & Bouncers
          img.product-image(src='swing.jpg')
        .card
          a(href='/category/Travel System')
            h2.category-title Travel System
          img.product-image(src='cosatto.jpg')
        .card
          a(href='/category/Feeding')
            h2.category-title Feeding
          img.product-image(src='prepMachine.jpg')
        .card
          a(href='/category/Puschairs & Strollers')
            h2.category-title Puschairs & Strollers
          img.product-image(src='maclaren.jpg')
        .card
          a(href='/category/Bathing and Changing')
            h2.category-title Bathing and Changing
          img.product-image(src='changer.jpg')
          