doctype html
html
  head
    title Baby World
    link(rel='stylesheet', href='../app.css', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body
    .text Baby World
    .menu-tab
      #one
      #two
      #three
    .menu-hide
      form(method="post" action="search")
        input.search-form(name="search", type="text", placeholder="Search for.....")
        button.button.search-button(type="submit") Search
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/products') Products
          li
            a(href='/create') New Product
          li
            a(href='/offers') Special offer
          li
            a(href='/createoffer') New Offer
          li
            a(href='/reviews') Reviews
          li
            a(href='/add') Leave Review
          li
            a(href='/register') Register
          li
            a(href='/logout') Log Out
          li
            a(href='/login') Log In
  block content
  .footer
    p Node App built with ♡ from Antonijo Galic &copy; 2018
  script(src="../script.js")