doctype html
html
  head
    title Baby World
    link(rel='stylesheet', href='../app.css', type='text/css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
  body
    .text Baby World
    .menu-tab
      #one
      #two
      #three
    .menu-hide
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/products') Products
          li
            a(href='/create') New Product
          li
            a(href='/reviews') Reviews
          li
            a(href='/add') Leave Review
          li
            a(href='/register') Register
          li
            a(href='/login') Log In
          li
            a(href='/logout') Log Out
  block content
  .footer
    p Node App built with ♡ from Antonijo Galic &copy; 2018
    form(method="post" action="search")
      label(for="search") Search:
      input(name="search", type="text", placeholder="Search for.....")
      button.button(type="submit") Search
  script(src="../script.js")