doctype html
html
  head
    title My App
    link(rel='stylesheet', href='../app.css', type='text/css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
  body
    .header
      .imhold
        img#theLogo.logoIm(src='/logo.png', alt='logo')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='/create') New Product
          a(href='/reviews') Reviews
          a(href='/add') Leave Review
          a(href='/register') Register
          a(href='/login') Log In
          a(href='/logout') Log Out
  block content
  .footer
    p Node App built with ♡ from Antonijo Galic &copy; 2018
    form(method="post" action="search")
      label(for="search") Search:
      input(name="search", type="text", placeholder="Search for.....")
      button.button(type="submit") Search