doctype html
html
  head
    title My App
    link(rel='stylesheet', href='app.css', type='text/css')
  body
    .header
      .imhold
        img#theLogo.logoIm(src='/logo.png', alt='logo')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='#') Add New Product
    .row
      .holder
        h1 Hi I am the products page!
    .footer
      p Node App built with ♡ from Antonijo Galic
