extends layout
block content
  .row
  h1 Hi, Please create an account
  .formHold
    form(method="post")
        fieldset
          label(for="name") User name:
          input(name="name", type="text", placeholder="Your user name")
          label(for="password") Password:
          input(name="password", type="text", placeholder="Your password")
          label(for="email") Email Address:
          input(name="email", type="text", placeholder="Your email address")
          button.button(type="submit") Create account