extends layout
block content
  .form-section
    h2 Hi, Please create an account
    form.form(method="post")
        .input-box
          label(for="name") User name:
          input(name="name", type="text", id="name", placeholder="Your user name" required)
        .input-box
          label(for="password") Password:
          input(name="password", type="password", id="password", placeholder="Your password" required)
        .input-box
          label(for="email") Email Address:
          input(name="email", type="text", id="email" placeholder="Your email address" required)
        button.button(type="submit" id="submit" onclick="formValidation()") Create account