extends layout
block content
  .row
    .reviews-container
      h1 Our reviews!
      .reviews-list
          each review in reviews
              .individual-review
                  h3 #{review.name}
                  p #{review.content}
                  a.button(href='/editreview/' + review.id) Edit
                  a.button(href='/deletereview/' + review.id) Delete